.message {
    position:relative;
    width: 150px;
    height: 70px;
}

.imageAndText {
    position: relative;
    width: 250px;
    height: 50px;
}

.imageAndText img {
    position: absolute;
    top:0;
    left:0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text {
    position: absolute;
    top: 0;
    left: 65px;
    background:#F5F7FB;

    border-radius: 25px 15px 15px 0px;
}

.text:after {

}

.name {
 font-weight: bolder;
    padding: 5px 5px 0px 5px ;
}

.messageText {
    padding: 0px 5px 0px 0px ;
}

.time {
    font-size: 10px;
    position: absolute;
    top: 60px ;
    left: 15px;

}
