.input:focus {
}

.input {
 position: absolute;
    top:0;
    width: 270px;
    height: 25px;
}

.inputWrapper {
 position: relative;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    position: absolute;
     top:-17px;
    color:red;
}
